#nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#nav > div {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0.8rem 1rem;
    border-radius: 1rem;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

#nav > div:hover {
    background-color: #544b88;
}

.button-image {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-text {
    font-size: 1rem;
    font-weight: 500;
}
