.contactos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

@media (max-width: 1200px) {
    .contactos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .contactos {
        grid-template-columns: repeat( 3, 1fr);
    }
}

@media (max-width: 600px) {
    .contactos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .contactos-grid {
        grid-template-columns: 1fr;
    }
}